@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Manrope:wght@700&display=swap');

/* common styles or utilities */
body{
    font-family: 'Poppins';
    margin: 0;
}

h1{
    font-weight: 500;
}

a{
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

section{
    margin-top: 10%;
}

.container{
    max-width: 960px;
    margin:0 auto;
    padding:0 20px;
    border-radius: 5px;
}

.link-btn{
    padding: 10px 40px;
    background-color: #e71d36;
    color: white;
}

.link-btn i{
    margin-left: 10px;
}

.link-btn:hover{
    background-color: transparent;
    border: 1px solid #e71d36;
    color: #e71d36;
    transition: all 0.2s ease-in;
    padding: 10px 40px;
}

/* Header Section */
header{
    padding:10px 0;
}

header .container{
    max-width: 1100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display:flex;
}

.logo a{
    color: black;
    font-weight: 700;
    font-size: 20px;
}

.navigation{
    display:flex;
}

.navigation-items{
    display:flex;
    align-items: center;
}

.navigation-items li{
    list-style: none;
    padding:0 20px;
}

.navigation-items li a{
    color:black;
    font-size: 12px;
}

.navigation-items li:hover{
    transition: all 0.2s linear;
}

.nav-icons{
    color: black;
    display:flex;
    align-items: center;
    margin-left: 20px;
}

/* Top Bar Infos */
.top-section.container{
    max-width: 1100px;
}

.top-bar-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-text h1{
    font-weight: 700;
    font-size: 45px;
}

.top-text p{
    font-size: 14px;
}

.top-text .link-btn{
    border-radius: 40px;
}

.top-img{
    background-image: url('./images/Circle design.svg');
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
}

/* Logos Section */
.logo-section{
    margin-top: 5%;
}
.logos{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 10px;
    align-items: center;
    justify-content: center;
}

/* Products Section */
.products-section{
    margin-top: 5%;
}

.products-section h1{
    text-align: center;
    color: #3A3A3A;
    font-size: 28px;
}

.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.product{
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
    padding: 10px;
    align-items: center;
    justify-content:center;
    border-radius: 10px;
}

.product-img img{
    width: 100%;
}

.product-details h2{
    font-weight: 500;
    color: #18191F;
    font-size: 28px;
}

.product-details h3{
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
}

.product-details p{
    font-family: 'Inter';
    font-weight: 700;
    color: #5E6366;
    font-size: 14px;
    text-align: justify;
}

.rating{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.rating p{
    font-family: 'Inter';
    font-weight: 700;
    color: #5E6366;
    font-size: 14px;
}

.filled{
    color: #FB8200;
}

.empty{
    color: #aeaeae;
}

.see-more{
    color: #e71d36;
    text-align: right;
    font-size: 14px;
}

/* Featured Products */
.featured-products-section{
    margin-top: 5%;
    margin-bottom: 5%;
}

.featured-products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.featured-text h1{
    font-weight: 700;
}

.featured-text p{
    font-size: 14px;
}

/* Footer Section */
footer{
    background-color: #272640;
    color: white;
    text-align: center;
    padding: 10px;
}

footer h1{
    font-size: 24px;
}

footer p{
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

footer .fa {
    padding: 10px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    background-color: #61a5c2;
    color: white;
}

footer a:hover {
    opacity: 0.5;
}

/* Media Queries */
@media only screen and (max-width:688px) {
    .navigation{
        display: none;
    }
    .container{
        width: 100%;
    }
    .top-bar-product{
        flex-direction: column;
    }
    .top-img{
        order: 1;
    }
    .top-text{
        order: 2;
        text-align: center;
    }
    .logo-section{
        margin-top: 10%;
    }
    .logos{
        grid-template-columns: repeat(4, 1fr);
    }
    .products{
        grid-template-columns: repeat(1, 1fr);
    }
    .featured-products{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }
    .featured-text{
        order: 1;
        text-align: center;
    }
    .featured-image{
        order: 2;
    }
    /* .featured-image img{
        width: 100%;
    } */
    footer{
        width: 100%;
    }
}